@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Bebas+Neue&family=Playfair+Display+SC:ital,wght@1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply w-64  shadow flex-col justify-between;
}
.acordion {
  background: linear-gradient(#0360ec, #ccd3d6);
}

.sidebar-route {
  @apply  rounded-md flex  justify-between cursor-pointer items-center m-3 p-3;
}

.input {
  @apply p-2 border border-indigo-200 focus:outline-none focus:border-indigo-800 rounded-md shadow-sm;
}

.organizarBloques{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
}

.newsfont {
  font-family: 'Bebas Neue', cursive;
}
.newsContentFont {
  font-family: 'Bai Jamjuree', sans-serif;
}
.indexTitle {
  font-family: 'Playfair Display SC', serif;
}


@media  (max-width:1080px) {
    .tableSizeScreen {
      display: none
    }
    .dialog {
      display: flex;
      flex-direction: column;
      font-weight: 600;
    }
  }

@media  (min-width:1080px) {
    .cardSizeScreen {
      display: none
    }
  }
